{% extends 'master/base.html' %}
{% block main-title %}网络设备{% endblock %}
{% block main-father %}资产管理{% endblock %}
{% block main-name %}网络设备{% endblock %}
{% load memtags %}
{% block content %}
    <div class="wrapper">
        <div class="col-sm-12 panel">
        <div class="ibox float-e-margins" id="all">
        <div class="ibox-title">
        <h5>网络设备详细列表</h5>
        </div>
        </div>
                <div class="ibox-content">
                    <form id="asset_form">
                        <div class="col-sm-1" style="padding-left: 0">
                            <!--模态对话框 点击保存资产-->
                            <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addmyModal"> 添加网络设备 </a>
                        <!-- Modal -->
                            <div class="modal fade bs-example-modal-sm" id="addmyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog "  style="width:400px;;" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">添加新资产</h4>
                                        </div>
                                        <div class="modal-body" style="height:300px;">
                                            <form>
                                              <div class="form-group">
                                                <label for="exampleInputEmail1">主机名:</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="主机名">
                                              </div>
                                              <div class="form-group">
                                                <label for="exampleInputPassword1">IP地址:</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="IP地址">
                                              </div>
                                                <div class="form-group">
                                                        <select class="form-control">
                                                          <option>机房</option>
                                                          <option>北京</option>
                                                          <option>上海</option>
                                                          <option>浙江</option>
                                                          <option>广东</option>
                                                        </select>
                                                </div>
                                                <div class="form-group">
                                                        <select class="form-control">
                                                          <option>资产类型</option>
                                                          <option>物理机</option>
                                                          <option>虚拟机</option>
                                                          <option>交换机</option>
                                                        </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <button type="button" class="btn btn-primary">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--模态对话框  结束-->
                        </div>
                        <div class="col-sm-7" style="padding-left: 0px">
                            <label>
                                <select name="idc" class="form-control m-b input-sm" onchange="">
                                    <option value="">机房</option>


                                            <option value="北京"> 北京</option>



                                            <option value="上海"> 上海</option>



                                            <option value="公司"> 公司</option>


                                </select>
                            </label>
                            <label>
                                <select name="asset_type" class="form-control m-b input-sm" onchange="">
                                    <option value="">资产类型</option>
                                            <option value="1"> 物理机</option>
                                            <option value="2"> 虚拟机</option>
                                            <option value="8">存储设备</option>
                                            <option value="3"> 交换机</option>
                                            <option value="4"> 路由器</option>
                                            <option value="5"> 防火墙</option>
                                            <option value="7"> 其他</option>
                                </select>
                            </label>

                            <label>
                                <select name="status" class="form-control m-b input-sm" onchange="">
                                    <option value="">资产状态</option>
                                            <option value="1"> 已使用</option>
                                            <option value="2"> 未使用</option>
                                            <option value="3">待上线</option>
                                            <option value="3"> 报废</option>

                                </select>
                            </label>
                        </div>
                        <div class="col-sm-4" style="padding-right: 0">
                             <div class="input-group inline-group">
                                <input type="text" class="form-control m-b input-sm" id="search_input" name="keyword" value="" placeholder="Search">
                                <input type="text" style="display: none">
                                <div class="input-group-btn">
                                    <button id='search_btn' href="#" type="button" class="btn btn-sm btn-primary search-btn"  onclick="change_info()">
                                        - 搜索 -
                                    </button>
                                    <button type="button" href="#" name="export" class="btn btn-sm btn-success search-btn-excel" onclick="return false">
                                        - 导出 -
                                    </button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover " id="editable" name="editable">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <input id="checkall" type="checkbox" class="i-checks" name="checkall">
                                    </th>
                                    <th class="text-center"> 主机名 </th>
                                    <th class="text-center" name="ip">IP地址</th>
                                    <th class="text-center">机房</th>
                                    <th class="text-center">用途</th>
                                    <th class="text-center"> 操作系统 </th>
                                    <th class="text-center"> cpu核数 </th>
                                    <th class="text-center"> 内存 </th>
                                    <th class="text-center"> 硬盘 </th>
                                    <th class="text-center"> 操作 </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for asset in assets %}
                                <tr class="gradeX">
                                    <td class="text-center" name="id" value="{{ asset.id }}" data-editable='false'>
                                        <input name="id" value="32" type="checkbox" class="i-checks">
                                    </td>
                                    <td class="text-center hostname"> <a href="#">{{ asset.name }}</a></td>
                                    <td class="text-center">{{ asset.nic_set.select_reload }}</td>
                                    <td class="text-center">{{ asset.idc.model.name }}</td>
                                    <td class="text-center">{{ asset.business_unit }}</td>
                                    <td class="text-center">{{ asset.server.os_release }}</td>
                                    <td class="text-center">{{ asset.cpu.cpu_core_count }}</td>
                                    <td class="text-center">
                                        {%for ram in asset.ram_set.all %}
                                        {{ ram.capacity }}
                                        {% endfor %}
                                    </td>
                                    <td class="text-center">500G</td>
                                    <td class="text-center" data-editable='false'>
                                        <a value="#" class="conn btn btn-xs btn-warning">更新</a>
                                        <a href="{% url 'hostdetail'  asset.id %}" class="btn btn-xs btn-info">详细</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                                            <ul class="pagination" style="margin-top: 0; float: right">
                                            {% if id.has_previous %}
                                                    <li class="paginate_button previous disabled" aria-controls="editable" tabindex="0" id="editable_previous">
                                                         <a class="?page={{ userlist_objs.previous_page_number }}" href="#">Previous</a>
                                                    </li>
                                            {% endif %}
                                             {% for page_num in userlist_objs.paginator.page_range %}
                                                {% gusee_page userlist_objs.number page_num %}
                                            {% endfor %}
                                            {% if userlist_objs.has_next %}
                                                    <li class="paginate_button next disabled" aria-controls="editable" tabindex="0" id="editable_next">
                                                        <a class="page" href="#">Next</a>
                                                    </li>
                                                    {% endif %}

                                            </ul>
                                        </div>
                        </div>
                        </div>
                        </form>
                    </div>

</div>
    </div>
    <!--管理资产列表js-->
    {% block assest_js %}

                            <script>
                            /*全选功能*/
                    $(document).ready(function() {
                        $("input[id=checkall]").click(
                                function () {
                                    if (this.checked) {
                                        $("input[type=checkbox]").prop('checked', true)
                                    } else {
                                        $("input[type=checkbox]").prop('checked', false)
                                    }
                                }
                        );
                    });
                </script>
        {% endblock %}
{% endblock %}