{% extends 'master/base.html' %}
{% load memtags %}
{% block main-title %}用户列表{% endblock %}
{% block main-father %}用户管理{% endblock %}
{% block main-name %}用户列表{% endblock %}
{% block content %}
<div class="wrapper">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">用户列表</h3>
            </div>
            <div class="panel-body">
                <form id="assetform">
                                     <div class="col-sm-1" style="padding-left: 0">
                            <a href="" id="adduser" class="btn btn-sm btn-primary "> 添加用户 </a>
                        </div>
                        <div class="col-sm-7" style="padding-left: 0">
                            <label>
                                <select name="idc" class="form-control m-b input-sm" onchange="">
                                    <option value="">部门</option>
                                            {% for groups in group %}
                                            <option value="{{ groups.id }}">{{ groups.name }}</option>
                                            {% endfor %}
                                </select>
                            </label>
                        </div>

                        <div class="col-sm-4" style="padding-right: 0">
                             <div class="input-group inline-group">
                                <input type="text" class="form-control m-b input-sm" id="search_input" name="keyword" value="" placeholder="Search">
                                <input type="text" style="display: none">
                                <div class="input-group-btn">
                                    <button id='search_btn' href="#" type="button" class="btn btn-sm btn-primary search-btn"  onclick="change_info()">
                                        - 搜索 -
                                    </button>
                                    <button type="button" href="#" name="export" class="btn btn-sm btn-success search-btn-excel" onclick="return false">
                                        - 导出 -
                                    </button>
                                </div>
                            </div>
                        </div>
                    <table class="table  table-bordered " id="editable" name="editable">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable='false' onclick="check_all('asset_form')">
                                    </th>
                                    <th class="text-center">用户名 </th>
                                    <th class="text-center" name="ip">所属部门</th>
                                    <th class="text-center">办公IP</th>
                                    <th class="text-center">联系方式</th>
                                    <th class="text-center"> 操作 </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in userlist_objs %}
                                <tr class="gradeX">
                                    <td class="text-center" name="id" value="{{ user.id }}" data-editable='false'>
                                        <input name="id" value="{{ user.id }}" type="checkbox" class="i-checks">
                                    </td>
                                    <td class="text-center hostname"> <a href="{% url 'userdetail' user.id %}">{{ user.name }}</a></td>
                                    <td class="text-center">{{ user.department }}</td>
                                    <td class="text-center">{{ user.ip }}</td>
                                    <td class="text-center">{{ user.phone }}</td>
                                    <td class="text-center" data-editable='false'>
                                        <a value="#" class="conn btn btn-xs btn-warning">分发</a>
                                        <a href="{% url 'userdetail' user.id %}" class="btn btn-xs btn-info">详细资料</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    <div class="col-sm-6">
                    </div>
                        <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                                            <ul class="pagination" style="margin-top: 0; float: right">
                                            {% if userlist_objs.has_previous %}
                                                    <li class="paginate_button previous disabled" aria-controls="editable" tabindex="0" id="editable_previous">
                                                         <a class="?page={{ userlist_objs.previous_page_number }}" href="#">Previous</a>
                                                    </li>
                                            {% endif %}
                                             {% for page_num in userlist_objs.paginator.page_range %}
                                                {% gusee_page userlist_objs.number page_num %}
                                            {% endfor %}
                                            {% if userlist_objs.has_next %}
                                                    <li class="paginate_button next disabled" aria-controls="editable" tabindex="0" id="editable_next">
                                                        <a class="page" href="#">Next</a>
                                                    </li>
                                                    {% endif %}

                                            </ul>
                                        </div>
                        </div>
                </form>
            </div>
</div>
        </div>
{% endblock %}
{% block assest_js %}
                            <script>
                            /*全选功能*/
                    $(document).ready(function() {
                        $("input[id=checkall]").click(
                                function () {
                                    if (this.checked) {
                                        $("input[type=checkbox]").prop('checked', true)
                                    } else {
                                        $("input[type=checkbox]").prop('checked', false)
                                    }
                                }
                        );
{#                        $('a[name="deleteuser"]').click(#}
{#                                function () {#}
{#                                var delgroup = $(this).parent().parent().children("td[name='id']").attr("value");#}
{#                                    $.post("{% url 'deletes' %}", {DeleteId:JSON.stringify(delgroup),DeleteName:JSON.stringify('user')},#}
{#                                        function(callback){#}
{#                                    alert(JSON.parse(callback))#}
{#                                    });#}
{#                                $(this).parent().parent().remove()#}
{#                                }#}
{##}
{#                        )#}
                        $('button[name="export"]').click(
                                    function(){
                                         $('#assetform').table2excel({ // 选择器选择要到处的表格，也就是根据原表格构建的表格
                                            exclude: ".btn-xs",
                                            name: "Excel Document Name",
                                            filename: "用户列表", // 导出的文件名
                                            fileext: ".xls" // 导出的文件扩展名
                                            });
                                    }
                        );
                        $('a[id="adduser"]').click(function () {
                                 swal("添加用户需要到后台管理添加")
                        });
                    });
                </script>

{% endblock %}