<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>AdminX</title>
  <link href="css/base.css" rel="stylesheet">
</head>
<body class="sticky-header">
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">
        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html"><img src="images/logo1.png" alt=""></a>
        </div>
        <div class="logo-icon text-center">
            <a href="index.html"><img src="images/logo_icon1.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->
        <div class="left-side-inner">
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>资产管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="#">资产列表</a></li>
                        <li><a href="#">机房管理</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-envelope"></i> <span>配置管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="mail.html">Salt认证</a></li>
                        <li><a href="mail_compose.html">远程管理</a></li>
                        <li><a href="mail_view.html">批量命令</a></li>
                        <li><a href="mail_view.html">文件分发</a></li>
                        <li><a href="mail_view.html">服务部署</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-file-text"></i> <span>日志审计</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="profile.html">登录日志</a></li>
                        <li><a href="profile.html">操作日志</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-user"></i> <span>用户管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="profile.html">群组</a></li>
                        <li><a href="profile.html">用户</a></li>
                    </ul>
                </li>
                <li><a href="login.html"><i class="fa fa-sign-in"></i> <span>作者博客</span></a></li>
            </ul>
            <!--sidebar nav end-->
        </div>
    </div>
    <!-- left side end-->
    <!-- main content start-->
    <div class="main-content" >
        <!-- header section start-->
        <div class="header-section">
            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->
            <!--search start-->
            <form class="searchform" action="index.html" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
            </form>
            <!--search end-->
            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="images/user-avatar.png" alt="" />
                            Liu Yao
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="#"><i class="fa fa-user"></i>基本资料</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i>个人设置</a></li>
                            <li><a href="#"><i class="fa fa-sign-out"></i>退出登录</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->
        </div>
        <!-- header section end-->
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                仪表盘
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li class="active">Dashboard</li>
            </ul>
        </div>
        <!-- page heading end-->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!--jiedian开始-->
<div class="wrapper">
        <div class="col-sm-12 panel">
            <div class="ibox float-e-margins" id="all">
                <div class="ibox-title">
                     <h5> 主机详细信息列表</h5>
                </div>
            </div>
            <div class="row">
                <!--表单开始-->
                 <form class="form-horizontal">
                     <!--第一个-->
                       <div class="col-md-6">
                           <div class="form-group">
                               <label for="4" class="col-sm-2 control-label">主机名</label>
                               <div class="col-sm-7">
                                    <input type="email" disabled  class="form-control" id="4" placeholder="主机名">
                                </div>
                           </div>
                            <div class="form-group">
                                <label for="5" class="col-sm-2 control-label">设备类型</label>
                                <div class="col-sm-7">
                                  <input type="password" class="form-control" id="5" placeholder="物理机">
                                </div>
                            </div>
                              <div class="form-group">
                                <label for="3" class="col-sm-2 control-label">公网IP</label>
                                <div class="col-sm-7">
                                  <input type="password" class="form-control" id="3" placeholder="公网IP">
                                </div>
                              </div>
                           <div class="form-group">
                            <label for="2" class="col-sm-2 control-label">内网IP</label>
                            <div class="col-sm-7">
                              <input type="password" class="form-control" id="2" placeholder="内网IP">
                            </div>
                              </div>
                           <div class="form-group">
                            <label for="1" class="col-sm-2 control-label">操作系统</label>
                            <div class="col-sm-7">
                              <input type="password" class="form-control" id="1" placeholder="操作系统">
                            </div>
                              </div>
                                    <div class="form-group">
                                    <label for="4" class="col-sm-2 control-label">序列号</label>
                                    <div class="col-sm-7">
                                      <input type="email" disabled  class="form-control" id="4" placeholder="序列号">
                                    </div>
                                  </div>
                       </div>
                     <!--第一个结束-->
                    <!--第二个开始-->
                     <div class="col-md-6">
                            <div class="form-group">
                            <label for="5" class="col-sm-2 control-label">Kerenl</label>
                            <div class="col-sm-7">
                              <input type="password" class="form-control" id="5" placeholder="Kerenl">
                            </div>
                            </div>
                              <div class="form-group">
                                <label for="3" class="col-sm-2 control-label">CPU型号</label>
                                <div class="col-sm-7">
                                  <input type="password" class="form-control" id="3" placeholder="CPU型号">
                                </div>
                              </div>
                              <div class="form-group">
                            <label for="2" class="col-sm-2 control-label">CPU核数</label>
                            <div class="col-sm-7">
                              <input type="password" class="form-control" id="2" placeholder="CPU核数">
                            </div>
                              </div>
                           <div class="form-group">
                            <label for="1" class="col-sm-2 control-label">内存大小</label>
                            <div class="col-sm-7">
                              <input type="password" class="form-control" id="1" placeholder="内存大小">
                            </div>
                          </div>
                           <div class="form-group">
                        <label for="1" class="col-sm-2 control-label">固态硬盘</label>
                        <div class="col-sm-7">
                          <input type="password" class="form-control" id="1" placeholder="固态硬盘">
                        </div>
                          </div>
                            <div class="form-group">
    <label for="1" class="col-sm-2 control-label">机械硬盘</label>
    <div class="col-sm-7">
      <input type="password" class="form-control" id="1" placeholder="机械硬盘">
    </div>
      </div>
                         </div>
                     <!--第二个结束-->

                      <div class="col-md-6">
                              <div class="ibox-title">
                        <h5>远程卡信息</h5>
                        </div>
                           <div class="form-group">
                               <label for="4" class="col-sm-2 control-label">远程卡IP</label>
                               <div class="col-sm-7">
                                    <input type="email" disabled  class="form-control" id="4" placeholder="远程卡IP">
                                </div>
                           </div>
                            <div class="form-group">
                                <label for="5" class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-7">
                                  <input type="password" class="form-control" id="5" placeholder="用户名">
                                </div>
                            </div>
                              <div class="form-group">
                                <label for="3" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-7">
                                  <input type="password" class="form-control" id="3" placeholder="密码">
                                </div>
                              </div>
                        </div>
                     <div class="col-sm-12" style="height:50px;">
                     <button class="btn btn-success" style="display: table;width: auto;margin-left: auto;margin-right: auto;">编辑</button>
                         </div>
                 </form>
                <!--表单结束-->
            </div>
        </div>
                    <!--statistics start-->
                    <!--statistics start-->                    <!--statistics start-->
                                        <!--statistics start-->
                                        <!--statistics start-->

     <!--statistics end-->
     <!--statistics end-->

</div>
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <!--jiedian结束-->
        <footer>
            2016 &copy; Mebius is CMDB
        </footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

</body>
</html>
