{% extends 'master/base.html' %}
{% block main-title %}资产列表{% endblock %}
{% block main-father %}资产管理{% endblock %}
{% block main-name %}资产列表{% endblock %}
{% load memtags %}
{% block content %}
    <div class="wrapper">
      <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">资产列表</h3>
            </div>
            <div class="panel-body">
                    <form id="asset_form">
                        <div class="col-sm-1" style="padding-left: 0">
                            <!--模态对话框 点击保存资产-->
                            <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addmyModal"> 添加资产 </a>
                        </div>
                        <div class="col-sm-7" style="padding-left: 0px">
                            <label>
                                <select name="idc" class="form-control m-b input-sm" onchange="">
                                    <option value="">机房</option>


                                            <option value="北京"> 北京</option>



                                            <option value="上海"> 上海</option>



                                            <option value="公司"> 公司</option>


                                </select>
                            </label>
                            <label>
                                <select name="asset_type" class="form-control m-b input-sm" onchange="">
                                    <option value="">资产类型</option>
                                            <option value="1"> 物理机</option>
                                            <option value="2"> 虚拟机</option>
                                            <option value="8">存储设备</option>
                                            <option value="3"> 交换机</option>
                                            <option value="4"> 路由器</option>
                                            <option value="5"> 防火墙</option>
                                            <option value="7"> 其他</option>
                                </select>
                            </label>

                            <label>
                                <select name="status" class="form-control m-b input-sm" onchange="">
                                    <option value="">资产状态</option>
                                            <option value="1"> 已使用</option>
                                            <option value="2"> 未使用</option>
                                            <option value="3">待上线</option>
                                            <option value="3"> 报废</option>

                                </select>
                            </label>
                        </div>
                        <div class="col-sm-4" style="padding-right: 0">
                             <div class="input-group inline-group">
                                <input type="text" class="form-control m-b input-sm" id="search_input" name="keyword" value="" placeholder="Search">
                                <input type="text" style="display: none">
                                <div class="input-group-btn">
                                    <button id='search_btn' href="#" type="button" class="btn btn-sm btn-primary search-btn"  onclick="change_info()">
                                        - 搜索 -
                                    </button>
                                    <button type="button" href="#" name="export" class="btn btn-sm btn-success search-btn-excel" onclick="return false">
                                        - 导出 -
                                    </button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover " id="editable" name="editable">
                            <thead>
                                <tr class="button-primary">
                                    <th class="text-center">
                                        <input id="checkall" type="checkbox" class="i-checks" name="checkall">
                                    </th>
                                    <th class="text-center"> 主机名 </th>
                                    <th class="text-center">IP地址</th>
                                    <th class="text-center">机房</th>
                                    <th class="text-center">业务线</th>
                                    <th class="text-center"> 操作系统 </th>
                                    <th class="text-center"> CPU型号 </th>
                                    <th class="text-center"> CPU核数 </th>
                                    <th class="text-center"> 内存 </th>
                                    <th class="text-center"> 硬盘 </th>
                                    <th class="text-center"> 操作 </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for asset in assets %}
                            <tr class="btn-default">
                               <td class="text-center" name="id" value="{{ asset.id }}" data-editable='false'>
                                        <input name="id" value="{{ asset.id }}" type="checkbox" class="i-checks">
                                    </td>
                                <td class="text-center">{{ asset.name }}</td>
                                <td class="text-center">{{ asset.management_ip }}</td>
                                <td class="text-center">{{ asset.idc }}</td>
                                <td class="text-center">{{ asset.business_unit }}</td>
                                <td class="text-center">{{ asset.os_release }}</td>
                                <td class="text-center">{{ asset.cpu_model }}</td>
                                <td class="text-center">{{ asset.cpu_core_count }}</td>
                                <td class="text-center">{{ asset.ram_size }}</td>
                                <td class="text-center">{{ asset.disk_size }}</td>
                                    <td class="text-center" data-editable='false'>
                                        <a name="update" value="{{ asset.id }}" class=" btn btn-xs btn-warning">更新</a>
                                        <a href="{% url 'hostdetail'  asset.id %}" class="btn btn-xs btn-info">详细</a>
                                    </td>
                            </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                        </form>
            <div class="col-sm-6">
                    </div>
                        <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                                            <ul class="pagination" style="margin-top: 0; float: right">
                                            {% if assets.has_previous %}
                                                    <li class="paginate_button previous disabled" aria-controls="editable" tabindex="0" id="editable_previous">
                                                         <a class="?page={{ assets.previous_page_number }}" href="#">Previous</a>
                                                    </li>
                                            {% endif %}
                                             {% for page_num in assets.paginator.page_range %}
                                                {% gusee_page assets.number page_num %}
                                            {% endfor %}
                                            {% if assets.has_next %}
                                                    <li class="paginate_button next disabled" aria-controls="editable" tabindex="0" id="editable_next">
                                                        <a class="page" href="#">Next</a>
                                                    </li>
                                                    {% endif %}

                                            </ul>
                                        </div>
                        </div>
                    </div>
            </div>
    </div>
    <!--管理资产列表js-->
    {% block assest_js %}
                            <script>
                            /*全选功能*/
                    $(document).ready(function() {
                        $("input[id=checkall]").click(
                                function () {
                                    if (this.checked) {
                                        $("input[type=checkbox]").prop('checked', true)
                                    } else {
                                        $("input[type=checkbox]").prop('checked', false)
                                    }
                                }
                        );
                        $("a[name='update']").click(function(){
                            var updateid = $(this).attr('value');
                             $.post("{% url 'hostupdate' %}", {updateid:JSON.stringify(updateid)},
                                                    function(callback){
                                                    });
                                            swal("更新!", "资产更新成功", "success");
                        })
                    });
                </script>
        {% endblock %}
{% endblock %}