{% extends 'master/base.html' %}
{% load memtags %}
{% block main-title %}用户执行记录{% endblock %}
{% block main-father %}日志审计{% endblock %}
{% block main-name %}用户执行记录{% endblock %}
{% block content %}
<div class="wrapper">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">用户执行记录</h3>
            </div>
            <div class="panel-body">
                        <div class="col-sm-1" style="padding-left: 0">
                        </div>
                        <div class="col-sm-7" style="padding-left: 0px">
                        </div>
                        <div class="col-sm-4" style="padding-right: 0">
                             <div class="input-group inline-group">
                                <input type="text" class="form-control m-b input-sm" id="search_input" name="keyword" value="" placeholder="Search">
                                <input type="text" style="display: none">
                                <div class="input-group-btn">
                                    <button id='search_btn' href="#" type="button" class="btn btn-sm btn-primary search-btn"  onclick="change_info()">
                                        - 搜索 -
                                    </button>
                                    <button type="button" href="#" name="export" class="btn btn-sm btn-success search-btn-excel" onclick="return false">
                                        - 导出 -
                                    </button>
                                </div>
                            </div>
                        </div>
                        <table id="assetform" class="table table-striped table-bordered table-hover " id="editable" name="editable">
                            <thead>
                                <tr>
                                    <th class="text-center">操作名称</th>
                                    <th class="text-center">操作类型</th>
                                    <th class="text-center">事件详情</th>
                                    <th class="text-center">事件时间</th>
                                    <th class="text-center">操作人</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for execute in executelog_objs %}
                                <tr class="gradeX">
                                    <td class="text-center hostname"> <a href="#">{{ execute.name }}</a></td>
                                    <td class="text-center">{{ execute.get_event_type_display }}</td>
                                    <td class="text-center">{{ execute.detail }}</td>
                                    <td class="text-center">{{ execute.date }}</td>
                                    <td class="text-center">{{ execute.user }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                            <div class="col-sm-6">
                            </div>
<div class="col-sm-6">
                                    <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                                        <ul class="pagination" style="margin-top: 0; float: right">
                                        {% if executelog_objs.has_previous %}
                                                <li class="paginate_button previous disabled" aria-controls="editable" tabindex="0" id="editable_previous">
                                                     <a class="?page={{ executelog_objs.previous_page_number }}" href="#">Previous</a>
                                                </li>
                                        {% endif %}
                                         {% for page_num in executelog_objs.paginator.page_range %}
                                            {% gusee_page executelog_objs.number page_num %}
                                        {% endfor %}
                                        {% if executelog_objs.has_next %}
                                                <li class="paginate_button next disabled" aria-controls="editable" tabindex="0" id="editable_next">
                                                    <a class="page" href="#">Next</a>
                                                </li>
                                                {% endif %}

                                        </ul>
                                    </div>
                    </div>
            </div>
        </div>
</div>

{% endblock %}
{% block assest_js %}

<script>

                                $('button[name="export"]').click(
                                    function(){
                                         $('#assetform').table2excel({ // 选择器选择要到处的表格，也就是根据原表格构建的表格
                                            exclude: ".btn-xs",
                                            name: "Excel Document Name",
                                            filename: "用户执行记录", // 导出的文件名
                                            fileext: ".xls" // 导出的文件扩展名
                                            });
                                    }
                                 );
</script>
{% endblock %}