{% extends 'master/base.html' %}
{% block main-title %}批量命令{% endblock %}
{% block main-father %}部署管理{% endblock %}
{% block main-name %}批量命令{% endblock %}
{% block content %}
<div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                             <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action="">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">目标主机</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" placeholder="支持正则匹配,多个主机,支持分组" name="tgt" value={{ tgt }}>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">远程命令</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="arg" value={{ arg }}>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <div class="col-sm-offset-8 col-sm-10">
                                              <button type="submit" class="btn btn-primary">执行</button>
                                         </div>
                                    </div>
                             </form>
                      </div>
                 </div>
            <div>

                {% for key,value in ret.items %}
                                <p class="alert alert-success">主机名: {{ key }}  </p>
                    <pre style="font-weight: 600;"  class="alert alert-block">
{{ value }}
                  </pre>
                {% endfor %}
            </div>
            </div>
</div>

{% endblock %}